<h1>
  {{ hero.id ? "Edit" : "New" }}
  Hero
  <small>- {{ hero.superhero }}</small>
</h1>

<div fxLayout="row" fxLayoutGap="40px" fxLayout.xs="column">
  <div fxFlex="50" fxLayout="column">
    <div fxLayout="row" fxLayoutGap="20px" fxLayout.xs="column">
      <mat-form-field fxFlex="100">
        <mat-label>Superhero</mat-label>
        <input
          matInput
          type="text"
          required
          [(ngModel)]="hero.superhero"
          appTitleCase
          autocomplete="off"
        />
      </mat-form-field>

      <mat-form-field fxFlex="100">
        <mat-label>Alter Ego</mat-label>
        <input
          matInput
          type="text"
          required
          [(ngModel)]="hero.alter_ego"
          autocomplete="off"
        />
      </mat-form-field>
    </div>

    <mat-form-field>
      <mat-label>First Appearence</mat-label>
      <input
        matInput
        type="text"
        required
        [(ngModel)]="hero.first_appearance"
        autocomplete="off"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Characters</mat-label>
      <input
        matInput
        type="text"
        required
        [(ngModel)]="hero.characters"
        autocomplete="off"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Publisher</mat-label>
      <mat-select [(ngModel)]="hero.publisher">
        <mat-option
          *ngFor="let publisher of publishers"
          [value]="publisher.id"
          >{{ publisher.description }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Picture URL</mat-label>
      <input
        matInput
        type="url"
        required
        [(ngModel)]="hero.alt_img"
        autocomplete="off"
      />
    </mat-form-field>
    <br />
    <div fxLayout>
      <button mat-raised-button color="primary" (click)="save()">
        <mat-icon>add</mat-icon>
        {{ hero.id ? "Update" : "Add" }}
      </button>
      <span class="spacer"></span>
      <button mat-raised-button color="warn" *ngIf="hero.id" (click)="delete()">
        <mat-icon>delete</mat-icon>
        Delete
      </button>
    </div>
  </div>

  <div fxFlex="50">
    <img [src]="hero | image" />
  </div>
</div>
